h1 {
  color: #575F7D;
  font-size: 36px;
  font-weight: 900;
}
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}
body {
  color: rgb(10, 10, 10);
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

i {
  color: #575F7D;
  }
  i.fa-twitter{
    font-size: 124px;
  }
img{
  border-radius: 5%;
  box-shadow: 2px 2px 4px #575F7D;
}
.container{
  width:fit-content;
  margin: 0 auto;
  text-align: center;
}
.card-white{
  background-color: beige;
  width: 700px;
  margin: 30px auto;
  padding:8vmin;
  box-shadow: 2px 2px 2px gray;
  text-align: center;
}
ul {
  list-style-type: none;
}
.btn-gray {
  size: 16px;
  background-color: gray;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}
h2 {
  color: #575F7D;
  font-size: 20px;
  font-weight: 500;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 2em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.list-inline >li {
  display: inline;
  padding: 10px;
  text-align: center;
}
a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #43477c;
  font-weight: 600;
  font-size: 16px;
}
